{% extends 'base.html' %}

{% block title %}  
Product
{% endblock %}

{% block content %}
    
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="" alt="">
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
            <div>
                <h1 class="product_title">
                   add product title 
                </h1>
                <h5 class="text-info font-italic mb-0">
                    <span class="mr-1">$</span>499  
                  </h5>
                <p class="product_description">Product Decription</p>
                <p class="text-justify priduct_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ipsum asperiores, doloremque placeat neque odit ullam similique, 
                    facere quisquam iste earum dolorum rem facilis doloribus perferendis, 
                    iusto maiores eius pariatur omnis.Eum soluta blanditiis temporibus enim
                     voluptates doloribus, repudiandae illum deserunt harum. Placeat delectus
                      laboriosam iste dicta, maxime odit minus minima ea, labore tempore asperiores 
                      corporis quae, modi quam quos fugiat!</p>
                      <p class="text-justify product_text"><b>Out of Stock</b></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}